<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap.css" />
    <title> Page not Found - Pirate Party UK </title>
  <link rel="icon" href="media/PP.svg">
  </head>
  <body>
  <%- include ("partials/header.ejs") %>
    <div class="container pb-5 mb-5">
      <div class="p-5 text-center bg-body-tertiary rounded-3">
          <!-- <img class="bi mt-4 mb-3" src="/media/PP.svg"> -->
          <h1 class="text-body-emphasis">404 - Page not Found</h1>
          <p class="col-lg-8 mx-auto fs-5 text-muted">Page not Found</p>
      </div>
            <%- include ("partials/footer.ejs") %>
  </body>
</html>
