<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Signup</title>

  <link href="/styles/bootstrap.css" rel="stylesheet">
  <link rel="icon" href="media/PP.svg">

    <title> Pirate Party UK Login </title>
</head>

<body>
      
  <%- include ("partials/header.ejs") %>
<form action="/login" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit">Login</button>
</form>
    <%- include ("partials/footer.ejs") %>

</body>

</html>