
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Contact Us - New UK Pirate Party</title>
  <link rel="icon" href="/media/PP.svg">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

</head>

      <% include partials/header %>

    <div class="container pb-5 mb-5"   style="height: 100px;">
        <h1 class="text-body-emphasis">contact us</h1>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Discord</h5>
            <p class="card-text">
              The Pirate Party UK Discord is an online platform where members and supporters of the Pirate Party UK can connect and discuss various political and social issues. The Pirate Party UK is a political party that focuses on digital rights, civil liberties, and transparency in government. The Discord server is a space for like-minded individuals to come together and engage in discussions, share news and events, and organize political action. It is also a space for members to socialize and build a sense of community within the party.
            </p>
            <a href="https://discord.gg/t8EDRgXzMH" class="btn btn-primary">Join</a>
          </div>
        </div>
        <!-- <article>
      <section>
        <p>If you have any questions or comments, please feel free to reach out to us on one of our Discord servers:</p>
        <ul>
          <li><a href="https://discord.gg/t8EDRgXzMH">General Discussion Server</a></li>
        </ul>
      </section> -->
    </article>
    </div>
      <% include partials/footer %>
</body>

</html>
