
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Contact Us - New UK Pirate Party</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link href="/styles/style.css" rel="stylesheet">
  <link rel="icon" href="/media/PP.svg">
</head>
      <% include partials/header %>
        <h1 class="title">Connect With Us</h1>
        <article>
      <section>
        <p>If you have any questions or comments, please feel free to reach out to us on one of our Discord servers:</p>
        <ul>
          <li><a href="https://discord.gg/t8EDRgXzMH">General Discussion Server</a></li>
        </ul>
      </section>
    </article>
      <% include partials/footer %>
</body>

</html>
