<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title><%= title ? title : 'PPUK' %></title>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
    />
    <link href="/styles/style.css" rel="stylesheet" />

    <title>Pirate Party UK: Homepage</title>
  <link rel="icon" href="media/PP.svg">
  </head>
  <body>
    <% include partials/header %>
    <h1 class="title">Home</h1>
    <article>
    <main>
      <section>
        <h2>Our Values</h2>
        <ul>
          <li>Rights</li>
          <li>Civil Liberties</li>
          <li>Digital Freedoms</li>
        </ul>
      </section>

<section>
  <h2>Rights</h2>
  <p>
    We believe that everyone has inherent rights that must be respected and protected, regardless of their background or circumstances. These rights include, but are not limited to, the right to live with dignity, the right to a fair and impartial legal system, the right to equal treatment under the law, the right to privacy, and the right to access to essential services like healthcare and education. We believe that these rights are not negotiable and that they form the foundation of a just and equitable society.
  </p>
  <h3>LGBTQIA+ Rights</h3>
  <p>
    We recognize the challenges faced by lesbian, gay, bisexual,
    transgender, queer, intersex, and a-spec individuals in our society.
    We believe in equal rights and opportunities for all individuals,
    regardless of their sexual orientation or gender identity.
  </p>
  <h4>Transgender Rights</h4>
  <p>
    We recognize the challenges faced by transgender individuals in our
    society, including discrimination, violence, and limited access to
    healthcare and legal recognition. We believe that politicians must
    understand these issues and take action to address them.
  </p>
</section>

<section>
  <h2>Civil Liberties</h2>
  <p>
    We believe in protecting civil liberties, including freedom of conscience, freedom of press, freedom of religion, freedom of expression, and freedom of assembly. These fundamental freedoms are essential to a free and open society. However, these freedoms must be exercised responsibly and with respect for the rights of others. For example, freedom of expression is a fundamental human right that should be protected and upheld, but this right does not extend to hate speech or expressions of discrimination against others. It's important to distinguish between personal expressions of identity, such as gender, sexuality, race, ethnicity, and religion, which should be respected and celebrated, and expressions of hate and discrimination, which have no place in our society. Love and respect for others should be the guiding principles when it comes to how we express ourselves, and we will work to promote an inclusive and welcoming environment for all individuals.
  </p>
</section>

<section>
  <h2>Digital Freedoms</h2>
  <p>
    We believe in the importance of protecting digital freedoms, including the right to privacy, freedom of expression, and freedom of information. Everyone has the right to access and share information online without fear of censorship or surveillance. We oppose internet censorship and mass surveillance, and support policies that protect individuals' digital rights.
  </p>
</section>
  <h3>Internet Access</h3>
  <p>
    We believe that access to the internet is a basic right that should be available to everyone, regardless of their socioeconomic status or geographic location. Governments have a responsibility to ensure that all citizens have access to reliable, high-speed internet connections, and we will work to promote policies that increase internet access and affordability.
  </p>

<section>
  <h2>Get Involved</h2>
  <p>
    If you share our values and are interested in supporting the New UK
    Pirate Party, we welcome you to join us. You can connect with us on
    our Discord server and stay up to date with our latest news and events
    on our website.
  </p>
</section>
    </article>
    </main>
    <% include partials/footer %>
    <script src="/js/main.js"></script>
  </body>
</html>
