<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="icon" href="media/PP.svg">

    <title><%= title ? title : 'PPUK' %></title>
</head>
<body>
	<header>
		<h1><%= title %></h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/articles">Articles</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<%- body %>
	</main>

	<footer>
		<p>&copy; 2023 MyWebsite</p>
	</footer>

</body>
</html>
