<div
  class="mt-5 navbar fixed-bottom bg-body-tertiary bg-dark"
  data-bs-theme="dark"
>
  <div class="col-md-3">
    <span class="mb-3 mb-md-0 text-body-secondary">
      Copyright &copy; <%= new Date().getFullYear() %> Pirate Party UK
    </span>
  </div>
  <div class="col-md-3 text-end">
    <span class="mb-3 mb-md-0 text-body-secondary">
      <a href="https://discord.gg/t8EDRgXzMH" class="bi bi-discord"></a>
    </span>

    <span class="mb-3 mb-md-0 text-body-secondary">
      <a href="https://github.com/pirate-party-uk" class="bi bi-github"></a>
    </span>
  </div>
</div>
